.navbar{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    background-color: #faf3f3;
    width: 100vw;
    align-items: center;
    height: 100px;
    justify-content: space-evenly;
    z-index: 10;
    border-bottom: 1px solid rgba(0, 0, 0, 0.062);
}

.navbarForm{
    height: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.inputProduct{
    border: 1px solid #6a6854;
    text-align: center;
    border-radius: 25px;
    width: 420px;
    height: 80%;
}

.navbarSpan{
    font-weight: 600;
    font-size: 22px;
}

.navbarBrand{
    color: #6a6854;
    font-weight: 900;
    font-size: 25px;
}