.navbar{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    background-color: #f5efef;
    width: 100vw;
    align-items: center;
    height: 100px;
    justify-content: space-around;

}

.navbarLinks{
    display: flex;
    gap: 10px;
}

.navbarForm{
    height: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.cart{
    cursor: pointer;
    font-size: 30px;
}

.navbarLink {
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.3s ease;
  font-weight: 300;
  color: black;
  text-decoration: none;
}

.navbarLink.active {
  background-color: #6a6854;
  color: white;
}

.inputProduct{
    border: 1px solid #6a6854;
    text-align: center;
    border-radius: 25px;
    width: 420px;
    height: 80%;
}

.navbarSpan{
    font-weight: 600;
    font-size: 22px;
}

.navbarBrand{
    color: #6a6854;
    font-weight: 900;
    font-size: 25px;
}