.navbar{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    background-color: #faf3f3;
    width: 100vw;
    align-items: center;
    height: 100px;
    justify-content: space-evenly;
    z-index: 10;
    border-bottom: 1px solid rgba(0, 0, 0, 0.062);
}

.navbarForm{
    height: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 350px;
  height: 40px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 20px; 
  padding: 0 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s ease;
}

.search-bar:focus-within {
  box-shadow: 0 0 0 2px #ccc;
}

.search-bar input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 14px;
  color: #333;
  background: transparent;
  padding-right: 8px;
}

.search-bar input::placeholder {
  color: #aaa;
}

.search-bar .icon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
}


.navbarBrand{
    color: #6a6854;
    font-weight: 900;
    font-size: 25px;
}